* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Segoe UI", sans-serif;
  background-color: #070707;
  padding: 20px;
}
.container {
  max-width: 1200px;
  margin: auto;
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px #ccc;
}
h1 {
  text-align: center;
  margin-bottom: 30px;
}
.cards-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 20px;
}
.card {
  background-color: #d6f4ff;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 15px;
  display: flex;
  gap: 10px;
  align-items: center;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
.card img {
  width: 120px;
  height: auto;
  object-fit: contain;
  border: 1px solid #ccc;
}
.info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.info p {
  margin: 5px 0;
  font-size: 14px;
}
.info p span {
  font-weight: bold;
}

@media (max-width: 600px) {
  .card {
    flex-direction: column;
    align-items: flex-start;
  }
  .card img {
    width: 100%;
  }
  .info {
    align-items: flex-start;
  }
}
