@font-face { 
	font-family:"Riffic Bold"; 
	src: url("Https://www.devmedia.com.br/notificacoes/fontes/RifficFree-Bold.ttf") format("truetype");
}

@keyframes loading {
	to { transform: rotate(360deg);}
}

@keyframes chama_lado_esquerdo_exterior_anim {
	0% { transform: translate(-.5px, -1px);}
	50% { transform: translate(-2px, 15px);}
	100% { transform: translate(-.5px, -1px);}
}

@keyframes chama_lado_esquerdo_inferior_anim {
	0% { transform: rotate(0);}
	50% { transform: rotate(-4deg);}
	100% { transform: rotate(0);}
}

@keyframes chama_lado_direito_exterior_anim {
	0% { transform: translate(.79px, 0);}
	50% { transform: translate(-2px, -15px);}
	100% { transform: translate(.79px, 0);}
}

@keyframes chama_lado_direito_interior_anim {
	0% { transform: rotate(0); animation-timing-function: cubic-bezier(.42, 0, .58, 1);}
	50% { transform: rotate(4deg); animation-timing-function: cubic-bezier(.42, 0, .58, 1);}
	100% { transform: rotate(0);}
}

@keyframes chama_atras_exterior_anim {
	0% {transform: translate(0, 0);}
	7.666667% {transform: translate(0, 0);}
	24.333333% {transform: translate(30px, -10px);}
	41% {transform: translate(0, 0);}
	56.666667% {transform: translate(0, 0);}
	73.333333% {transform: translate(30px, -10px);}
	90% {transform: translate(0, 0);}
	100% {transform: translate(0, 0);}
}

@keyframes chama_atras_interior_anim {
	0% {transform: rotate(0);}
	7.666667% {transform: rotate(0);}
	24.333333% {transform: rotate(4deg);}
	41% {transform: rotate(0);}
	56.666667% {transform: rotate(0);}
	73.333333% {transform: rotate(4deg);}
	90% {transform: rotate(0);}
	100% {transform: rotate(0);}
}

@keyframes chama_meio_exterior_anim {
	0% {transform: translate(0, 0);}
	16.666667% {transform: translate(30px, -10px);}
	33.333333% {transform: translate(0, 0);}
	50% {transform: translate(0, 0);}
	66.666667% {transform: translate(30px, -10px);}
	83.333333% {transform: translate(0, 0);}
	100% {transform: translate(0, 0);}
}

@keyframes chama_meio_interior_anim {
	0% {transform: rotate(0);}
	16.666667% {transform: rotate(4deg);}
	33.333333% {transform: rotate(0);}
	50% {transform: rotate(0);}
	66.666667% {transform: rotate(4deg);}
	83.333333% {transform: rotate(0);}
	100% {transform: rotate(0);}
}

@keyframes chama_frente_exterior_anim {
	0% {transform: translate(0, 0);}
	16.666667% {transform: translate(0, 0);}
	33.333333% {transform: translate(30px, -10px);}
	50% {transform: translate(0, 0);}
	73.333333% {transform: translate(0, 0);}
	90% {transform: translate(30px, -10px);}
	100% {transform: translate(0, 0);}
}

@keyframes chama_frente_interior_anim {
	0% {transform: rotate(0);}
	16.666667% {transform: rotate(0);}
	33.333333% {transform: rotate(4deg);}
	50% {transform: rotate(0);}
	73.333333% {transform: rotate(0);}
	90% {transform: rotate(4deg);}
	100% {transform: rotate(0);}
}

#div_comentarios {line-height: 1;}
.comentarios_outer * { box-sizing: border-box;}
.comentario_novo_area { display: flex; flex-direction: column;}
.comentario_novo_area .usuario_info { flex: 0 0 auto; width: 50px; height: 50px; margin-right: 20px;}
.comentario_input { flex: 1 1 auto; position: relative;}
.contador-caracteres { position: absolute; right: 0; bottom: 67px; font-size: 13px; font-weight: 600; color: #6c6c6c; font-family: montserrat, sans-serif;}
.contador-caracteres.premio { bottom: 65px;}
.container-premio-temporada { padding: 20px; border-radius: 10px; margin-bottom: 15px; color: white; font-weight: 500; display: flex; flex-direction: column; gap: 20px; background: linear-gradient(133deg, rgba(128,23,209,1) 29%, rgba(103,91,200,1) 69%, rgba(111,94,216,1) 88%, rgb(87 88 191) 100%);}
.texto-topico-premio { line-height: 1.5;}
.premio-da-temporada { position: relative; text-decoration: none; color: white;}
.premio-da-temporada:not(.temporada)::after { content: ""; border: 1px solid #00c4d4; position: absolute; width: 60px; bottom: -3px; left: 0px;}
.premio-da-temporada.temporada::after { content: ""; border: 1px solid #00c4d4; position: absolute; width: 93px; bottom: -3px; left: 0px;}
.premio-da-temporada:hover::after { bottom: -6px;}
.premio-da-temporada:hover { color: #6ef4ff;}
.topico-premio { display: flex; gap: 10px; align-items: center;}
.titulo-premio { font-size: 20px;}
.emoji-premio { font-size: 20px;}
.container-svg-select.svg-img { margin-right: 10px;}
.container-svg-select.instagram { margin-right: 10px;}
.path-svg-insta { fill: #565656;}
.container-instagram-cafeteria:hover { background: #a5a5a5;}
.container-instagram-cafeteria { background: #dfdfdf; height: 33px; border-radius: 10px; max-width: 150px; font-family: montserrat, sans-serif; cursor: pointer; color: #565656; display: flex; align-items: center; max-width: 35px; justify-content: center; min-width: 35px; padding: 0px 9px; margin-right: 10px;}
.container-instagram-input { max-width: 20px; position: absolute; bottom: 5px; left: 10px;}
.container-instagram-cafeteria:hover .path-svg-insta { fill: #ebebeb;}
.container-embedy-insta { width: 325px;}
.url_insta { box-sizing: border-box; width: 100%; max-width: 100%; padding: 10px 10px 10px 40px; border-radius: 5px; border: 1px solid darkgrey; font-family: monospace; height: 37px;}
.url_insta.erro { border: 1px solid red;}
.container-url-insta { margin-top: 10px; position: relative; width: 100%;}
.container-url-insta.oculto { display: none;}
.container-instagram-cafeteria.com_input { display: none;}
.url_insta::placeholder { font-size: 13px; font-family: monospace; line-height: 19px;}
.insta_alert { color: #ff0000; font-size: 14px; display: block; margin-top: 10px; margin-bottom: 10px;}
.nome-sala-cafeteria { margin-top: 10px; color: #6d6d6d; font-size: 12px;}
.professor_info.info_cafeteria { flex-direction: column; align-items: baseline;}
.contador-caracteres.suporte { bottom: 75px;}
.contador-caracteres.sub-comentario { right: 20px; bottom: 85px;}
.contador-caracteres.sub-comentario.suporte { bottom: 88px;}
.chama-nivel-usuario {width: 16px;margin: -10px 5px -1px;}
.container_gamificacao_usuario { display: flex; align-items: center; gap: 5px;}
.usuario_info .foto_usuario { width: 100%; margin: 0; height: 100%; border-radius: 50%; overflow: hidden;}
.usuario_info .foto_usuario img { object-fit: cover; width: 100%; height: 100%;}
.professor_info { display: flex; align-items: center; margin-bottom: 20px;}
.foto_professor { margin: 0 15px 0 0;}
.foto_professor img { width: 50px; height: 50px; border-radius: 50%; object-fit: cover;}
.msg-professor { font-size: 18px; color: #656565;}
.comentario_usuario_info { display: flex; flex-wrap: wrap; align-items: center;}
.comentario_usuario_info .link-perfil { padding: 5px 0; display: inline-flex; text-decoration: none; color: #575757; font-weight: 600; font-size: 15px; align-items: center; margin-right: 10px;}
.comentario_item.comentario_pai.usuario .comentario_label.label-moderacao { color: #A9A9A9;}
.comentario_usuario_foto { width: 50px; margin: 0 20px 0 0; height: 50px; border-radius: 50%; overflow: hidden; display: inline-block; flex: 0 0 auto;}
.comentario_usuario_foto img { height: 100%; width: 100%; object-fit: cover;}
.comentario_usuario_nome { flex: 1 1 auto;}
.nivel-usuario { background: #575757; width: fit-content; padding: 3px 5px; font-size: 11px; color: white; border-radius: 4px; font-weight: 500; margin-top: 5px;}
.comentario-cafeteria-label { background: #575757; width: fit-content; padding: 3px 5px; font-size: 11px; color: white; border-radius: 4px; font-weight: 500; margin-top: 5px;}
.comentario_aba.active { opacity: 1; transition: all .2s ease;}
.comentario_aba.inative { opacity: 0;}
.comentario_area { font-family: montserrat, sans-serif; transition: all .3s ease;}
.comentario_area.loading { opacity: 0;}
.sem_comentario { display: none;}
.comentario_conteudo { margin: 10px 0 10px 0; color: #494949; word-wrap: break-word; font-size: 13px; font-weight: 500; line-height: 20px; letter-spacing: 0.9px;}
.comentario_conteudo_texto { max-width: 100%;}
.link-comentario-origem { transition: all .2s ease; color: #8795A2; display: inline-block; border-radius: 5px; margin: 0 10px; text-decoration: none; font-size: 12px; font-family: montserrat, sans-serif; font-weight: 500; margin: 0 10px 0 0; flex: 0 1 auto;}
.link-comentario-origem:hover { text-decoration: underline; color: #8795A2;}
.link-comentario-origem-nome { font-weight: 400; margin: 0 0 0 5px;}
.comentario_data { color: #A9A9A9; margin: 10px 0; font-size: 10px;}
.subcomentarios_area { margin: 20px 0 10px 0;}
.subcomentarios_area .comentario_usuario_foto { width: 40px; height: 40px; margin: 0 15px 0 0;}
.subcomentarios_area .comentario_item { margin-bottom: 20px; padding: 20px; border-radius: 10px;}
.subcomentarios_area .comentario_item:nth-child(odd) { background-color: #f3f3f3;}
.seja_pro.linha.professor.comentario_item.consultor { display: flex; font-family: "Riffic Bold"; background-color: #0ac5d4; font-size: 20px; padding: 20px; max-width: 600px; color: #fff; box-shadow: 12px 15px 20px rgb(0 0 0 / 10%);}
span.desbloqueie-agora { margin-top: 15px;}
.seja_pro a { color: #fff; font-size: 25px; filter: drop-shadow(2px 2px 2px black); letter-spacing: 1px;}
.seja_pro.linha.professor .container-robot { display: flex; align-items: center; margin-right: 20px;}
.seja_pro.linha.professor .container-robot img { width: 80px;}
.seja_pro_text { display: flex; flex-direction: column; filter: drop-shadow(2px 3px 2px black);}
.subcomentarios_area .comentario_item.consultor,
.subcomentarios_area .comentario_item.aviso {background-color: #253a44;border-radius: 25px 25px 0;max-width: 600px;width: 100%; margin-left: auto;}
.subcomentarios_area .comentario_item.consultor .comentario_conteudo_texto,
.subcomentarios_area .comentario_conteudo_texto.aviso {color: white;}
.comentario_item.consultor .comentario_conteudo .comentario_conteudo_texto a {color: white;}
.subcomentarios_area .comentario_item.usuario{border-radius: 25px 25px 25px 0;max-width: 600px;width: 100%;margin-right: auto;background-color: #ebebeb;}
.subcomentarios_area .comentario_item.consultor .pre_listagem { color: black !important; background: white !important;text-shadow: initial !important;}
.comentario_label.label-moderacao,
.subcomentarios_area .comentario_item.aviso .comentario_usuario_nome,
.subcomentarios_area .comentario_item.consultor .comentario_usuario_nome,
.subcomentarios_area .comentario_item.consultor .comentario_label.label-privado{color: white;}
.subcomentarios_area .comentario_item.consultor .comentario_admin_option {color: white;}
.link-perfil .container-descricao-usuario{display: flex; flex-direction: column;}
.comentario_admin_option {margin: 10px 0;}
.comentario_item.usuario .comentario-remove-btn{color: #494949;}
.comentario_item.comentario_pai.usuario .comentario_principal {border-radius: 25px 25px 25px 0;max-width: 600px;width: 100%;margin-right: auto;background-color: #ebebeb;padding: 20px; position: relative;}
.comentario_item .consultor .comentario-remove-btn {color: white;}
.comentario_resposta { margin-left: 0;}
.txt_perguntar {width: 100%;height: 80px;padding: 10px;border-radius: 5px;border: 1px solid darkgrey;max-width: 100%; min-height: 80px; resize: none;}
.txt_responder { box-sizing: border-box; display: block; min-height: 80px; max-width: 100%; padding: 10px; -webkit-animation: fadein .3s; -moz-animation: fadein .3s; -ms-animation: fadein .3s; -o-animation: fadein .3s; animation: fadein .3s; width: 100%; border-radius: 5px; border: 1px solid darkgrey; resize: vertical;}
.txt_responder.comentario_ativo { height: 80px; margin: 0 0 20px 0; max-width: 100%; transition: height .3s ease;}
.btn_responder { background-color: #0ac5d4 !important; color: white !important; border: none !important; padding: 10px 20px !important; min-width: 150px !important; max-width: 100% !important; cursor: pointer !important; font-size: 14px !important; font-weight: 500 !important; font-family: montserrat, sans-serif !important; border-radius: 5px !important; transition: all .2s ease !important;display: flex !important; justify-content: center !important;}
.btn_responder:hover { background-color: #575757 !important;}
.btn_responder.disabled { background-color: #cacaca; cursor: not-allowed;}
.txt_perguntar::placeholder {font-size: 13px; line-height: 19px; }
.txt_responder::placeholder {font-size: 13px; line-height: 19px; }
span.msg-alerta { color: red; font-size: 14px; display: block; margin-bottom: 5px; font-family: 'Montserrat'; margin-top: 10px; margin-bottom: 10px;}
.btn_responder svg { display: none;}
.btn_load { width: 20px; height: 20px; border: 2px solid #0ac5d4; border-top-color: white; border-right-color: white; border-bottom-color: white; border-radius: 50%; margin-left: 5px; animation: loading 1s linear infinite}
.comentario_item { position: relative;}
.comentario_item.comentario_pai {margin-bottom: 50px; background-color: white;padding: 15px 20px;border-radius: 6px;box-shadow: 0px 3px 6px rgb(0 0 0 / 16%)}
.comentario_item.comentario_pai:last-child{ border: none;}
.comentario_label {color: #6f6f6f;border-radius: 50px;display: inline-block;font-size: 11px;font-weight: 500;order: 2; margin-top: 5px;}
.comentario_label_link { color: #6f6f6f; border: 1px solid #8795A2; border-radius: 50px; display: inline-block; font-size: 12px; font-weight: 500; margin-right: 10px; order: 3; padding: 3px 20px; text-decoration: none;}
.comentario_label_link:hover { background-color: #575757; color: white; border-color: #575757;}
.comentario_label_login { color: #6f6f6f; border: 1px solid #4ac4ea; border-radius: 50px; display: block; flex: 0 0 auto; font-size: 12px; font-weight: 500; margin-right: 10px; order: 1; padding: 3px 20px;}
.container-novo-comentario{box-shadow: 0px 3px 6px rgb(0 0 0 / 16%);margin-bottom: 50px;border-radius: 5px;padding: 30px 20px 15px;background-color: white;}
.comentario_usuario_info .link-perfil { order: 0;}
.comentario_item .destaque{height: 18px;width: 20px;display: inline-block;background-size: cover;vertical-align: middle;margin-right: 10px;cursor: pointer;transition: opacity .5s;order: 3;}
.comentario_item .destaque:not(.destacado) { background-image: url("//www.devmedia.com.br/comentarios/img/star.png"); }
.comentario_item .destaque.destacado { background-image: url("//www.devmedia.com.br/comentarios/img/star-full.png"); }
.comentario_item .destaque.waiting { opacity: .2; cursor: initial;}
.comentario_listar_mais { position: relative; display: none;}
.comentario_listar_mais.active { display: block;}
.comentario_listar_mais .load { position: absolute; height: 100%; width: 100%; padding: 10px; border-radius: 10px; text-align: center; background-color: #ffffffc4; display: none;}
.comentario_listar_mais .load.loading { display: block;}
.comentario_listar_mais .ver-mais { display: block; border-radius: 10px; padding: 15px; text-align: center; font-size: 18px; color: #878787; border: 1px solid; font-weight: 500; cursor: pointer; transition: all .2s ease;}
.comentario_listar_mais .ver-mais:hover { color: white; background-color: #575757; border-color: #575757;}
.comentario_listar_mais .load img { height: 100%;}
.comentario_admin_option a { display: inline-block; text-decoration: none; color: inherit; border: 1px solid #b4b7bb; border-radius: 5px; padding: 0px 10px; font-size: 10px; transition: all .2s ease;}
.comentario_admin_option a:hover { color: white; background-color: #575757; border-color: #575757;}
.comentario_admin_option a { display: inline-block; text-decoration: none; color: inherit; border: 1px solid #b4b7bb; border-radius: 5px; padding: 0px 10px; font-size: 10px; transition: all .2s ease;}
.comentario_admin_option a:hover { color: white; background-color: #575757; border-color: #575757;}
.comentario-erro { border-left: 3px solid red; border-radius: 0 10px 10px 0; padding: 10px 20px; font-size: 14px; box-shadow: 0 3px 6px rgba(0,0,0,.16); font-family: montserrat, sans-serif; margin: 10px 0;}
.comentario-erro .texto{ margin: 0 10px 10px 0; display: inline-block;}
.comentario-erro a { text-decoration: none; font-weight: 500; color: inherit; border: 1px solid darkgrey; border-radius: 5px; padding: 5px 10px; display: inline-block; transition: all .2s ease;}
.comentario-erro a:hover { border-color: #575757; background-color: #575757; color: white;}
.comentario-erro.sucesso { border-color: #7bac3b;}
.comentario-extra { margin: -15px 0 10px 0; display: flex; justify-content: space-between; align-items: flex-start; flex-wrap: wrap;}
.editar-btn-area { flex: 0 0 auto; font-size: 10px; font-weight: 600; color: #A9A9A9; margin: 0 0 0 auto;}
.comentario_edicao_tempo { align-items: center; border: 1px solid; border-radius: 3px; color: #A9A9A9; cursor: pointer; display: inline-flex; font-size: 12px; font-weight: 400; justify-content: center; margin-right: 5px; padding: 0 15px; transition: all .2s ease;}
.comentario_edicao_tempo:hover { background-color: #575757; color: white; border-color: #575757;}
.edit-comentario-icon { height: 12px; width: 12px; margin-right: 5px; display: inline-block; background-image: url(https://www.devmedia.com.br/comentarios/img/icone-edit.png); background-size: contain; background-repeat: no-repeat; background-position: center;}
#div_comentarios pre.pre_listagem{white-space: pre !important;}
#div_comentarios .div_listagem {overflow-x: auto;padding-left: 5px;border-left-style: solid;border-left-color: #a9a9a9;border-left-width: 4px;margin: 10px 0px;box-shadow: 3px 6px 12px rgba(0,0,0,0.1);border-radius: 0 5px 5px 0;background-color: whitesmoke; word-wrap: normal !important;}
.btn_aviso_horario { display: block; font-size: 14px; margin: 0; border: 1px solid #4ac4ea; padding: 0 20px; border-radius: 10px; font-family: montserrat, sans-serif; line-height: 30px; max-height: 0px; overflow: hidden; opacity: 0; box-sizing: border-box; transition: all .4s linear; position: relative; background-color: #f7f7f7;}
.btn_aviso_horario .aviso_msg_nome { font-weight: 500; color: #0ac5d4;}
.btn_aviso_horario.ativo { margin: 15px 0; padding: 20px; max-height: 800px; opacity: 1;}
.btn_aviso-icone-fechar svg * { stroke-linecap: round; stroke-linejoin: round; fill: transparent; stroke: currentColor;}
.btn_aviso-icone-fechar svg { height: 9px; width: 9px; transform: scale(1.5); stroke-width: 1.7px; stroke-linecap: round; stroke-linejoin: round;}
.btn_aviso-icone-fechar { margin: 0; height: 100%; width: 100%; display: flex; align-items: center; justify-content: center;}
.btn_aviso_fechar { top: 5px; right: 5px; height: 25px; width: 25px; align-items: center; justify-content: center; display: inline-flex; position: absolute; color: #888787; cursor: pointer;}
.comentario_filtro{ margin: 35px 0; align-items: center; display: flex; justify-content: flex-end; flex-wrap: wrap;}
.comentario_filtro_label{ color: #8795A2; font-size: 13px; font-weight: 300; font-family: montserrat, sans-serif;}
.comentario_filtro_select{ margin-left: 10px; padding: 5px 20px; border-radius: 90px; border: 1px solid #cbd1d6; color: #494949; font-size: 12px; font-family: montserrat, sans-serif; outline: none;}
.refresh-button {display: inline-flex;width: 30px;cursor: pointer;padding: 4px;box-sizing: border-box;margin: 0 5px 0 10px;color: #8795A2;flex: 0 0 auto;}
.svg-refresh { height: 100%; width: 100%;}
.svg-refresh .svg-element { fill: currentColor;}
.comentario_area_abas { position: relative;}
.comentario_area_abas.loading:after { position: absolute; height: 100%; width: 100%; top: 0; left: 0; content: ""; background-color: rgba(255, 255, 255, 0.6); background-image: url("https://www.devmedia.com.br/cursos/img/loading.gif"); background-size: 70px; background-repeat: no-repeat; background-position: center 100px;}
.comentario_suporte_icon {display: inline-block; margin-left: 10px;}
.comentario_suporte_icon svg { height: 35px; fill: currentColor; width: 35px; stroke: currentColor; stroke-width: 1.5px; stroke-linejoin: round; stroke-linecap: round; color: #7bac3b;}
.comentario_suporte { display: flex; align-items: center; font-size: 12px; font-weight: 500; color: white; margin-top: 20px;}
section.comentario_avaliacao { background-color: #ebebeb; color: #494949; padding: 25px 20px 20px; border-radius: 18px; display: flex; flex-direction: column; align-items: center; margin: 0 auto;}
.escolher-arquivo { margin-bottom: 15px; margin-top: 8px; display: flex; width: calc(100% - 60px);}
.btn_comentario_code { background: #dfdfdf; padding: 0px 10px; height: 33px; border-radius: 10px; max-width: 150px; font-family: montserrat, sans-serif; cursor: pointer; font-size: 11px; color: #565656; border: 0; display: flex; align-items: center; font-weight: 600; margin-right: 10px; max-width: 35px;}
.escolher-arquivo.oculto { display: none;}
.btn_comentario_code:hover { background: #a5a5a5; color: #ebebeb;}
.btn_comentario_code:hover .code-svg { fill: #ebebeb;}
.texto-input-imagem { font-size: 18px; color: #656565; margin-bottom: 14px;}
.comentario_imagem { width: 100%; height: 100%; object-fit: contain; border-radius: 10px; overflow: hidden;}
.container-geral-imagem { display: flex; align-items: center; text-overflow: ellipsis; white-space: nowrap; overflow: hidden; width: 100%;}
.comentario_imagem_container { background: #e7e7e7; max-width: 400px; width: fit-content; border-radius: 10px; padding: 5px; margin: 20px 0px; transition: all .2s ease; display: flex; filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, .3));}
.comentario_imagem_container:hover { background: #253a44;}
.container-svg-select.curto { max-width: 40px; margin-right: 10px;}
.select-svg.curto { margin: 0;}
.nome-arquivo-comentario { font-family: montserrat, sans-serif; font-size: 12px; text-overflow: ellipsis; white-space: nowrap; overflow: hidden; width: 100%; display: flex; gap: 25px;}
.select-svg { width: 15px; fill: #565656;}
.container-svg-select { background: #dfdfdf; padding: 0px 10px; height: 33px; border-radius: 10px; display: flex; align-items: center; max-width: 155px; font-family: montserrat, sans-serif; cursor: pointer; margin-right: 20px;}
.container-svg-select:hover { background: #a5a5a5;}
.container-svg-select:hover .texto-select-svg { color: #ebebeb;}
.container-svg-select:hover .select-svg { fill: #ebebeb;}
.botao-imagem { display: none;}
.code-svg { width: 15px; fill: #565656;}
.texto-select-svg { font-size: 11px; color: #565656; font-weight: 600;}
.texto-select-svg.curto { display: none;}
.comentario_conteudo hr { margin-top: 15px;}
.mensagem-erro-imagem { margin-bottom: 15px; font-family: Roboto, sans-serif; color: red; font-size: 13px; font-style: italic;}
span.avaliacao_titulo { display: block; font-family: montserrat, sans-serif; font-size: 21px; font-weight: bold;}
.container-avaliacao { display: flex; flex-direction: column; margin-top: 25px;}
.container_avaliacao_item { margin-bottom: 15px; display: flex; font-size: 15px; background-color: #ebebeb; padding: 10px; border-radius: 5px; color: #253a44; border: 2px solid #253a44; font-weight: 600; max-width: 275px; align-items: center;}
input.avaliacao { margin: 0 5px 0 0;}
.button_avaliacao_disabled { display: flex; justify-content: center; align-items: center; border: none; background-color: #253a448f; padding: 10px 15px; border-radius: 5px; color: #fff; font-weight: 600; cursor: no-drop;}
button.button_avaliacao { display: flex; justify-content: center; align-items: center; border: none; background-color: #253a44; padding: 10px 15px; border-radius: 5px; color: #fff; font-weight: 600; cursor: pointer;}
button.button_avaliacao:hover { background: #0ac5d4; transition: 0.3s}
section.container_msg_respondida { background-color: #ffb74e; color: #253a44; padding: 19px; border-radius: 18px; display: flex; align-items: center; justify-content: center; margin-bottom: 20px;}
span.thread_respondia { font-size: 14px; font-family: montserrat, sans-serif; font-weight: 600; text-align: center; line-height: 20px;}
.comentario_resposta.exibir { display: none;}
.comentario-remove-btn { display: inline-block; height: 35px; width: 35px; position: absolute; top: 15px; right: 15px; padding: 2px; color: white; transition: all .2s ease; cursor: pointer;}
.comentario-remove-btn svg { width: 100%; height: 100%; stroke-linecap: round; stroke-linejoin: round; stroke: transparent; fill: currentColor;}
.comentario-remove-btn:hover, .comentario_item.usuario .comentario-remove-btn:hover { color: #FF5722;}
.comentarios_outer .comentario_div_wrapper, .comentarios_outer .comentario_resposta {display: flex;flex-direction:column;align-items: flex-start; margin-top: 10px;}
.comentarios_outer .comentario_resposta .btn_abrir_responder, .btn_permalink {color: #82689b;border: none;max-width: 100%;margin: 0;cursor: pointer;font-size: 14px;font-weight: 700;font-family: montserrat, sans-serif;border-radius: 5px;transition: all .2s ease;display: none;justify-content: center;background: none;align-items: center;padding: 5px;box-shadow: 0 0px 0px rgb(0 0 0 / 40%);}
.comentarios_outer .comentario_resposta .btn_abrir_responder:hover, .btn_permalink:hover {box-shadow: 0 3px 6px rgb(0 0 0 / 40%);}
.comentarios_outer .comentario_resposta.oculto .btn_abrir_responder, .btn_permalink { display:flex;}
.comentarios_outer .comentario_resposta.oculto .txt_responder { display: none;}
.comentarios_outer .comentario_resposta.oculto .btn_responder { display: none !important;}
.contador-caracteres.oculto { display: none;}
.svg-link { width: 20px; fill: #856c9e;}
.texto-btn-permalink { display: none; margin-left: 5px;}
.texto-btn-permalink.show { display: initial;}
.container-botoes-cafeteria.oculto { display: none;}
.container-botoes-cafeteria { display: flex; justify-content: space-between; width: 100%;}
.container-comentario-vazio { display: flex; justify-content: center; position: relative; top: 150px;}
.texto-comentario-vazio { color: #1f4f66; font-weight: 500; font-family: 'Montserrat'; font-size: 20px;}

.chama-nivel-usuario .flame-side.left .outer { animation: chama_lado_esquerdo_exterior_anim 2s linear infinite normal forwards; transform: translate(-.5px, -1px)}
.chama-nivel-usuario .flame-side.left .inner { animation: chama_lado_esquerdo_inferior_anim 2s linear infinite normal forwards; transform: rotate(0)}
.chama-nivel-usuario .flame-side.right .outer { animation: chama_lado_direito_exterior_anim 2s linear infinite normal forwards; transform: translate(.79px, 0)}
.chama-nivel-usuario .flame-side.right .inner { animation: chama_lado_direito_interior_anim 2s linear infinite normal forwards; transform: rotate(0)}
.chama-nivel-usuario .flame-back .outer { animation: chama_atras_exterior_anim 2s linear infinite normal forwards; transform: translate(0, 0)}
.chama-nivel-usuario .flame-back .inner { animation: chama_atras_interior_anim 2s linear infinite normal forwards; transform: rotate(0)}
.chama-nivel-usuario .flame-middle .outer { animation: chama_meio_exterior_anim 2s linear infinite normal forwards; transform: translate(0, 0)}
.chama-nivel-usuario .flame-middle .inner { animation: chama_meio_interior_anim 2s linear infinite normal forwards; transform: rotate(0)}
.chama-nivel-usuario .flame-front .outer { animation: chama_frente_exterior_anim 2s linear infinite normal forwards; transform: translate(0, 0)}
.chama-nivel-usuario .flame-front .inner { animation: chama_frente_interior_anim 2s linear infinite normal forwards; transform: rotate(0)}
.chama-nivel-usuario .flame-side path { transform: translate(0, 0); fill: #9d0208; stroke: none; stroke-width: 1}
.chama-nivel-usuario .flame-back path { transform: translate(0, 0); fill: #d00000; stroke: none; stroke-width: 1}
.chama-nivel-usuario .flame-middle path { transform: translate(0, 0); fill: #e85d04; stroke: none; stroke-width: 1}
.chama-nivel-usuario .flame-front path { transform: translate(0, 0); fill: #ffba08; stroke: none; stroke-width: 1}
.chama-nivel-usuario .flame-nivel text { transform: translate(89.55px, 481.02px); font-size: 200px; fill: #d00000; font-family: Montserrat-SemiBold, Montserrat; font-weight: 600}
.chama-nivel-usuario .flame-nivel.super text { font-size: 180px; transform: translate(89.55px, 465px)}
.chama-nivel-usuario .flame-nivel.hyper text { font-size: 140px; transform: translate(89.55px, 445px)}
.chama-nivel-usuario .flame-nivel.ultra text { font-size: 114px; transform: translate(82px, 445px); font-weight: 700}

.editar-btn-area-projeto { width: 100%; text-align: end;}
.editar-btn-area-projeto .projeto_edicao { text-decoration: none; color: #A9A9A9; border: 1px solid #A9A9A9; padding: 2px 15px; border-radius: 5px; font-size: 12px; font-weight: 400;}
.editar-btn-area-projeto .projeto_edicao:hover { background-color: #575757; color: white; border-color: #575757;}
.trash { display: initial; width: 15px; fill: #82689b; cursor: pointer;}
.saiba_projeto { display: flex; align-items: center; gap: 10px;}
.saiba_projeto a { text-decoration: none; color: #82689b; border-radius: 5px; padding: 2px 5px; font-size: 10px; font-weight: 600;}
.saiba_projeto a:hover { background: #82689b; color: #fff;}
.boas-vindas-unipe { background: linear-gradient(45deg, #523c67, #82689b); border-radius: 5px; color: white; font-weight: 500; text-align: center; padding: 15px; line-height: 30px; box-shadow: 0px 3px 6px rgb(0 0 0 / 16%); margin-bottom: 15px;}

.cafeteria-escolha { margin-top: 15px; color: #82689b; font-weight: 500;}
.cafeteria-escolha-opcoes {cursor: pointer; display: inline-block;padding: 5px 10px;background-color: #dfdfdf;color: #565656;margin-left: 5px;outline: none;border: 1px solid #8d8d8d;border-radius: 5px;font-family: 'Montserrat';font-weight: 500;}
.cafeteria-escolha.invalido .cafeteria-escolha-opcoes {border-color: red;}
.cafeteria-escolha.invalido:after { content: "É necessário escolher uma sala para postar."; color: red; font-size: smaller; margin-left: 10px;}
.cafeteria-escolha-opcoes option { font-weight: 500;}

.cafeteria-filtro {margin: 10px 0 30px;color: #253a44;font-weight: 600;text-align: center;line-height: 30px;}
.cafeteria-filtro-opcoes {display: inline-flex;gap: 10px;padding: 0 10px;flex-wrap: wrap;justify-content: center;}
.cafeteria-filtro-opcao {background-color: rgb(223 223 223);padding: 0px 10px;border-radius: 5px;cursor: pointer;color: #565656;font-weight: 500;}
.cafeteria-filtro-opcao.active { background-color: #82689b; color: white;}

@media only screen and (max-width:650px) {
	.seja_pro.linha.professor { display: flex; flex-direction: column; align-items: center;}
	.seja_pro.linha.professor .container-robot { margin: initial;}
	.seja_pro_text { text-align: center;}
	.saiba_projeto { flex-direction: column; align-items: flex-start;}
	.txt_perguntar { height: 150px; resize: vertical; font-size: 15px;}
}

@media (max-width: 579px){
    .subcomentarios_area { margin-left: 0px;}
    .comentario_resposta { margin-left: 0px;}
    .comentario_resposta { margin-left: 0px;}
    .comentario_conteudo { margin-left: 0px;}

    .professor_info{flex-direction: column;}
    .foto_professor {margin: 0 0 10px 0;}
    .txt_responder{font-size: 17px;}
}

@media (max-width: 425px){
    .comentario_usuario_foto { width: 35px; height: 35px; margin-right: 10px;}
    .subcomentarios_area .comentario_usuario_foto { width: 25px; height: 25px; margin-right: 10px;}
    .comentario_novo_area .usuario_info { width: 40px; height: 40px; margin-right: 10px;}
    .link-comentario-origem { margin-top: 10px; text-align: center;}
    .comentario_suporte { margin-left: 35px;}
    .comentario_filtro{justify-content: center;}
}